<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quadratic Wizard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26B5378B1BDB24E10036EE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26B5379F1BDB24E10036EE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26B537AA1BDB24E10036EE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
